# table of sha256 file hashes blacklist
blacklist = [
    "F62087F51DC13E4B1247807862B3CE3544B78B93B0DDC1FDA1EF5B91D0E3FD33",
]

[database]
# you can configure connection address in .env file
max_connections = 5 # max number of connections that can be established by the pool

[general]
bind_address = "127.0.0.1:3000"
cors_origin = "http://127.0.0.1:5173" # value for Access-Control-Allow-Origin
storage_dir = "storage/" # all uploads will be stored here
temp_dir = "temp/" # when downloading encrypted file it will be placed here
max_preview_bytes = 104857600 # what is the max file size that can be previewed

[instrumentation]
directives = ["cipherfiles_backend=trace", "tower_http=trace", "axum::rejection=trace", "axum=trace"]
